back-end/services/transaction-service/controllers/transaction.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
             xmlns:soap="http://schemas.xmlsoap.org/soap/"
             xmlns:tns="http://example.com/transaction"
             xmlns:xsd="http://www.w3.org/2001/XMLSchema"
             name="TransactionService"
             targetNamespace="http://example.com/transaction">

    <message name="GetAllTransactionsRequest"/>

    <message name="GetAllTransactionsResponse">
        <part name="ID" type="xsd:string"/>
        <part name="SenderID" type="xsd:string"/>
        <part name="ReceiverID" type="xsd:string"/>
        <part name="Amount" type="xsd:decimal"/>
        <part name="UpdatedAt" type="xsd:dateTime"/>
        <part name="CreatedAt" type="xsd:dateTime"/>
    </message>

    <message name="TransferFundsRequest">
        <part name="SenderID" type="xsd:string"/>
        <part name="ReceiverID" type="xsd:string"/>
        <part name="Amount" type="xsd:decimal"/>
    </message>
    <message name="TransferFundsResponse">
        <part name="message" type="xsd:string"/>
        <part name="transaction" type="xsd:string"/>
    </message>

    <message name="GetAllTransactionsByAccountIdRequest">
        <part name="AccountID" type="xsd:string"/>
    </message>
    <message name="GetAllTransactionsByAccountIdResponse">
        <part name="ID" type="xsd:string"/>
        <part name="SenderID" type="xsd:string"/>
        <part name="ReceiverID" type="xsd:string"/>
        <part name="Amount" type="xsd:decimal"/>
        <part name="UpdatedAt" type="xsd:dateTime"/>
        <part name="CreatedAt" type="xsd:dateTime"/>
    </message>

    <portType name="TransactionServicePortType">
        <operation name="GetAllTransactions">
            <input message="tns:GetAllTransactionsRequest"/>
            <output message="tns:GetAllTransactionsResponse"/>
        </operation>
        <operation name="TransferFunds">
            <input message="tns:TransferFundsRequest"/>
            <output message="tns:TransferFundsResponse"/>
        </operation>
        <operation name="GetAllTransactionsByAccountId">
            <input message="tns:GetAllTransactionsByAccountIdRequest"/>
            <output message="tns:GetAllTransactionsByAccountIdResponse"/>
        </operation>
    </portType>

    <binding name="TransactionServiceBinding" type="tns:TransactionServicePortType">
        <soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetAllTransactions">
            <soap:operation soapAction="http://example.com/transaction/GetAllTransactions"/>
            <input>
                <soap:body use="encoded" namespace="http://example.com/transaction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://example.com/transaction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="TransferFunds">
            <soap:operation soapAction="http://example.com/transaction/TransferFunds"/>
            <input>
                <soap:body use="encoded" namespace="http://example.com/transaction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://example.com/transaction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
        <operation name="GetAllTransactionsByAccountId">
            <soap:operation soapAction="http://example.com/transaction/GetAllTransactionsByAccountId"/>
            <input>
                <soap:body use="encoded" namespace="http://example.com/transaction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </input>
            <output>
                <soap:body use="encoded" namespace="http://example.com/transaction" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
            </output>
        </operation>
    </binding>

    <service name="TransactionService">
        <port name="TransactionServicePort" binding="tns:TransactionServiceBinding">
            <soap:address location="http://127.0.0.1:3003/api/v1/transaction"/>
        </port>
    </service>
</definitions>
